# Environments
.env
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/

# Logs
feedback_logs/
*.log

# Temporary files
temp_audio/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
